[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "*"
django-celery-beat = "*"
redis = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3"
